@media screen and (max-width: 640px) {
    
    main{
        flex-direction: column;
        margin: 0px;
        gap: 17px;
       
    }

    h1{
        font-size: 2.3rem;
        padding-bottom: 15px;
    }

    h4{
        color: var(--Orange);
        padding-bottom: 15px;
        text-transform: uppercase;
    }

    img.selected {
        width: 100vw;
        border-radius: 0px;
        margin: 0px;
    
        
        
    
    }

    body{
        list-style: none;
        height: 100vh;
        margin: 15px;
    }

    header {
        height: 60px;
        transition: all .5s;

    }



    header:hover{
        height: 140px;
        
    }

    nav figure.profile{
        gap: 20px;
    }

    li.list-men{
        display: none;
     
    }

    /* carrinho */
    #cart-screen{
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        text-align: center;
        background-color: white;
        width: 90%;
        height: 250px;
        margin-top: 15px;
        border-radius: 12px;
        
    }

    .header-cart{
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;
    }

    .p-title{
        font-weight: 700;
    }

    button#exit{
        font-weight: 700;
        color: white;
        background-color: var(--Orange);
        border: none;
        width: 19px;
        border-radius: 4px;
        cursor: pointer;
    }
    /* fim carrinho */

    nav.navbar{
        display: flex;
        justify-content: space-around;
        padding: 30px;
        overflow: hidden;
        cursor: pointer;
        
    }

    nav.navbar ul{
        list-style-type: none;
        display: flex;
        gap: 20px;
    
    }

    nav.navbar ul li:hover{
        font-size: 1.1rem;
    
    }

    .menu-hamburger{
        cursor: pointer;
    }

    .description p{
        font-size: 1rem;
        color: var(--Darkgrayishblue);
        line-height: 1.4rem;
    }

    figure.mobile-menu{
        display: flex;
        align-items: center;
        gap: 20px;

    }

    .profile img.avatar{
        width: 35px;
    }

    header nav ul{
        
        padding-bottom: 20px;
        border-bottom: none;
    
    }

    ul.thumbnail{
        display: none;
        padding: 0px;
    }

    .price{
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-grow: 2;
        align-items: center;
        padding: 20px 0px;
        justify-content: space-between;
    }

    p.percent{
  
        background-color: var(--Pale);
        color: var(--Orange);
        padding: 4px 7px;
        border-radius: 5px;
    }

    .line-cart{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
    }

}
