@media screen and (max-width: 640px) {
    
    main{
        flex-direction: column;
        margin: 0px;
       
    }

    .description{
       
    }

    img.selected {
        width: 100vw;
        border-radius: 0px;
        margin: 0px;
        
    
    }

    body{
        list-style: none;
        height: 100vh;
        margin: 15px;
    }

    li.list-men{
        display: none;
    }

    header nav ul{
        
        padding-bottom: 20px;
        border-bottom: 2px solid var(--Lightgrayishblue);
    
        
    
    }

    ul.thumbnail{
        display: none;
        padding: 0px;
    }
}